<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<main>
    <div class="input-url">
      <p>Lets Make Your Links Shorter!</p>
      <form method="POST" action="/submit">
        <input id="inputText" name="link" type="text">
        <input type="submit" value="accept">
      </form>
    </div>
    <div class="short-url">
      <p>Your shortened link is as follows</p>
      <p><%= shortUrl %></p>
    </div>
</main>
</body>
</html>
